In [1]:
from typing import List, Dict, Tuple, Set
import numpy as np
import time
from dataclasses import dataclass
import time
from datetime import date
from collections import deque
import pandas as pd
from pathlib import Path
from enum import Enum
import re

from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.keys import Keys
import requests
from bs4 import BeautifulSoup
from io import StringIO

# CHROME_WEBDRIVER_PATH = "/home/fabrice/Documents/PROGRAMMING/ChromeWebDrive/chromedriver"
CHROME_WEBDRIVER_PATH = "/usr/lib/chromium-browser/chromedriver"

# For retries
from requests.adapters import HTTPAdapter
from urllib3.util.retry import Retry

# Local files.
import constants as c
from website_crawler import WebCrawler

In [2]:
%pip install selenium

Requirement already satisfied: selenium in /home/fabrice/anaconda3/lib/python3.10/site-packages (4.10.0)
Requirement already satisfied: urllib3<3,>=1.26 in /home/fabrice/anaconda3/lib/python3.10/site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.26.18)
Requirement already satisfied: trio~=0.17 in /home/fabrice/anaconda3/lib/python3.10/site-packages (from selenium) (0.22.2)
Requirement already satisfied: trio-websocket~=0.9 in /home/fabrice/anaconda3/lib/python3.10/site-packages (from selenium) (0.10.3)
Requirement already satisfied: certifi>=2021.10.8 in /home/fabrice/anaconda3/lib/python3.10/site-packages (from selenium) (2023.11.17)
Requirement already satisfied: attrs>=20.1.0 in /home/fabrice/anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (23.1.0)
Requirement already satisfied: sortedcontainers in /home/fabrice/anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in /home/fabrice/anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in /home/fabrice/anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in /home/fabrice/anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in /home/fabrice/anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: wsproto>=0.14 in /home/fabrice/anaconda3/lib/python3.10/site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in /home/fabrice/anaconda3/lib/python3.10/site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in /home/fabrice/anaconda3/lib/python3.10/site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
WARNING: Error parsing requirements for numpy: [Errno 2] No such file or directory: '/home/fabrice/anaconda3/lib/python3.10/site-packages/numpy-1.23.5.dist-info/METADATA'

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [3]:
%pip install html5lib

Requirement already satisfied: html5lib in /home/fabrice/anaconda3/lib/python3.10/site-packages (1.1)
Requirement already satisfied: six>=1.9 in /home/fabrice/anaconda3/lib/python3.10/site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in /home/fabrice/anaconda3/lib/python3.10/site-packages (from html5lib) (0.5.1)
WARNING: Error parsing requirements for numpy: [Errno 2] No such file or directory: '/home/fabrice/anaconda3/lib/python3.10/site-packages/numpy-1.23.5.dist-info/METADATA'

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

# Data Grabber

In [4]:
df_competition_links = pd.read_csv("results/competition_links.csv")
df_competition_links

,Tournament link,Base url,Crawl date,Tournament id,Processed
0,https://www.tanzsport.de/files/tanzsport/ergeb...,https://www.tanzsport.de/de/sportwelt/ergebnisse,2023-07-20,9,0
1,https://ergebnisse.dancecomp.de/2022/28-0207_w...,https://www.tanzsport.de/de/sportwelt/ergebnisse,2023-07-20,10,0
2,https://www.tanzsport.de/files/tanzsport/ergeb...,https://www.tanzsport.de/de/sportwelt/ergebnisse,2023-07-20,11,0
3,https://www.tanzsport.de/files/tanzsport/ergeb...,https://www.tanzsport.de/de/sportwelt/ergebnisse,2023-07-20,12,0
4,https://www.gruen-weiss-aachen.de/files/ergebn...,https://www.tanzsport.de/de/sportwelt/ergebnisse,2023-07-20,13,0
...,...,...,...,...,...
218,https://www.hessen-tanzt.de/media/ht2023/56-13...,https://www.tanzsport.de/de/sportwelt/ergebnisse,2023-07-20,227,0
219,https://www.tanzsport.de/files/tanzsport/ergeb...,https://www.tanzsport.de/de/sportwelt/ergebnisse,2023-07-20,228,0
220,https://www.tanzsport.de/files/tanzsport/ergeb...,https://www.tanzsport.de/de/sportwelt/ergebnisse,2023-07-20,229,0
221,https://www.tanzsport.de/files/tanzsport/ergeb...,https://www.tanzsport.de/de/sportwelt/ergebnisse,2023-07-20,230,0
222,https://www.tanzsport.de/files/tanzsport/ergeb...,https://www.tanzsport.de/de/sportwelt/ergebnisse,2023-07-20,231,0

In [5]:
print("URLs of already processed competitions:")
df_competition_links.loc[df_competition_links['Processed'] == 1]

URLs of already processed competitions:

Empty DataFrame
Columns: [Tournament link, Base url, Crawl date, Tournament id, Processed]
Index: []

In [6]:
n = len(df_competition_links)
n_processed = len(df_competition_links.loc[df_competition_links['Processed'] == 1])
print(f"Nr. of crawled   competitions:  {n}\n"\
      f"Nr. of processed competitions:  {n_processed}\t({n_processed/n*100:0.2f} %)")

Nr. of crawled   competitions:  223
Nr. of processed competitions:  0	(0.00 %)

In [7]:
# Select the links and the ids of unprocessed tournaments.
unprocessed_tournaments_df = df_competition_links[df_competition_links['Processed'] == 0][[c.C.TOUR_LINK.value, c.C.ID.value]]

for competition_url, competition_id in unprocessed_tournaments_df.itertuples(index=False):
    print(f"Id: {competition_id}\tURL: {competition_url}")

Id: 9	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/3le-sen1sstd/index.htm
Id: 10	URL: https://ergebnisse.dancecomp.de/2022/28-0207_wdsfopenstdsen3/index.htm
Id: 11	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2022/dm_hgrsstd/index.htm
Id: 12	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/glinde-sen3sstd/index.htm
Id: 13	URL: https://www.gruen-weiss-aachen.de/files/ergebnisse/2023/2023-06-3le/3-1706_rl_hgrslat/index.htm
Id: 14	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/g55-2/index.htm
Id: 15	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/l66-4/index.htm
Id: 16	URL: https://berlin-dance-festival.de/files/bdf/results/2023/5-0104_wdsfopenstdjun2/index.htm
Id: 17	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2020/02-22.Deutsche.Meisterschaft.Junioren.II.B.Latein/index.htm
Id: 18	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/dpsen3slat/index.htm
Id: 19	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2023/dm_mas1skombi/index.htm
Id: 20	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/om-jun2bstd/index.htm
Id: 21	URL: https://ltvb.de/wp-content/uploads/results/13347/0-rl_mas3sstd/index.htm
Id: 22	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/dpsen2kombi/index.htm
Id: 23	URL: https://ergebnisse.dancecomp.de/2022/71-0307_wdsfopenstdsen1/index.htm
Id: 24	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2023/dm_mas4sstd/index.htm
Id: 25	URL: https://www.hessen-tanzt.de/media/ht2023/53-1305_wdsfintopenstd/index.htm
Id: 26	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2022/dm_hrgskombi/index.htm
Id: 27	URL: https://www.hessen-tanzt.de/media/ht2023/67-1405_wdsfopenstdyouth/index.htm
Id: 28	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/dmjugalat/index.htm
Id: 29	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/dmjun2bkombi/index.htm
Id: 30	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2021/dm_hgrsstd/index.htm
Id: 31	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2021/dp_hgr2slat/index.htm
Id: 32	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/GOC-WDSF.Open.Senior.III.Standard/index.htm
Id: 33	URL: https://ltv-berlin.de/files/ltv/ergebnisse/2022/01-03_04_bdf/8-0304_rl_jun2bstd/index.htm
Id: 34	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/dmjun2bstd/index.htm
Id: 35	URL: https://www.hessen-tanzt.de/media/ht2022/47-1505_wdsfopenlatjun2/index.htm
Id: 36	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2023/ls66_230409/index.htm
Id: 37	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/duesseldorf-hgrslat/index.htm
Id: 38	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2023/dm_hgrskombi/index.htm
Id: 39	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2022/dp_hgr2sstd/index.htm
Id: 40	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2023/dm_mas2sstd/index.htm
Id: 41	URL: https://www.gruen-weiss-aachen.de/files/ergebnisse/2023/2023-06-3le/2-1706_rl_mas2sstd/index.htm
Id: 42	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/dpsen3kombi/index.htm
Id: 43	URL: https://hatv.de/wrapper/2023/RL_Glinde_2023/2-2201_rl_mas3sstd/index.htm
Id: 44	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/05-18.WDSF.Open.Senior.II.Standard/index.htm
Id: 45	URL: https://ergebnisse.ggcbremen.de/2022-06-03.DSF/62-0406_wdsfopenlatyouth/index.htm
Id: 46	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2022/dc_under21lat/index.htm
Id: 47	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/om-jun2blat/index.htm
Id: 48	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2022/dm_sen2sstd/index.htm
Id: 49	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/l66-2/index.htm
Id: 50	URL: https://berlin-dance-festival.de/files/bdf/results/2023/8-0104_wdsfopenlatyouth/index.htm
Id: 51	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/g55-4/index.htm
Id: 52	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2023/dm_jugalat/index.htm
Id: 53	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/dmsen1kombi/index.htm
Id: 54	URL: https://ergebnisse.dancecomp.de/2023/33-0107_wdsfopenstdsen3/index.htm
Id: 55	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2021/dp_sen3kombi/index.htm
Id: 56	URL: https://ltv-berlin.de/files/ltv/ergebnisse/2022/01-03_04_bdf/6-0304_rl_jugalat/index.htm
Id: 57	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/dmjun2blat/index.htm
Id: 58	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2020/01-19.DTV-Ranglistenturnier.Senioren.III.Standard/index.htm
Id: 59	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/om-jugastd/index.htm
Id: 60	URL: https://www.gruen-weiss-aachen.de/files/ergebnisse/3le-2022/19-1806_rl_hgrslat/index.htm
Id: 61	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2022/dc_hgralat/index.htm
Id: 62	URL: https://ergebnisse.ggcbremen.de/2023-06-02.Dance.Sport.Festival/48-0406_wdsfopenstdjun2/index.htm
Id: 63	URL: https://ergebnisse.tnw.de/vereine/912/2023-02-25/0-2502_rl_hgrsstd/index.htm
Id: 64	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2023/dm_mas1slat/index.htm
Id: 65	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2021/dc_under21std/index.htm
Id: 66	URL: https://www.hessen-tanzt.de/media/ht2023/43-1305_wdsfopenstdjun2/index.htm
Id: 67	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2021/dm_sen1sstd/index.htm
Id: 68	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/dmhgrsstd/index.htm
Id: 69	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/GOC-WDSF.GrandSlam.Standard/index.htm
Id: 70	URL: https://www.hessen-tanzt.de/media/ht2022/52-1505_wdsfintopenlat/index.htm
Id: 71	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/duesseldorf-sen2sstd/index.htm
Id: 72	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2020/01-18.DTV-Ranglistenturnier.Senioren.II.Standard/index.htm
Id: 73	URL: https://ergebnisse.tnw.de/vereine/912/2023-02-25/1-2502_rl_mas2sstd/index.htm
Id: 74	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2021/1010_rl_sen1sstd/index.htm
Id: 75	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2021/dm_sen1kombi/index.htm
Id: 76	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/ht-hgrsstd/index.htm
Id: 77	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2022/dm_jugalat/index.htm
Id: 78	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2020/02-22.Deutschlandpokal.Junioren.I.B.Latein/index.htm
Id: 79	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2021/dm_sen2sstd/index.htm
Id: 80	URL: https://ergebnisse.ggcbremen.de/2022-06-03.DSF/94-0506_wdsfopenstdyouth/index.htm
Id: 81	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/l66-5/index.htm
Id: 82	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2022/dm_jugakombi/index.htm
Id: 83	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/GOC-Junior.II.Open.Standard/index.htm
Id: 84	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2021/dp_kinclat/index.htm
Id: 85	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2023/dc_hgralat/index.htm
Id: 86	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2021/dp_hgr2sstd/index.htm
Id: 87	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/glinde-sen2sstd/index.htm
Id: 88	URL: https://ergebnisse.dancecomp.de/2023/4-3006_wdsfopenstdsen2/index.htm
Id: 89	URL: https://ergebnisse.ggcbremen.de/2023-06-02.Dance.Sport.Festival/59-0406_wdsfopenlatjun2/index.htm
Id: 90	URL: https://berlin-dance-festival.de/files/bdf/results/2023/11-0204_wdsfopenlatjun2/index.htm
Id: 91	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2023/dm_kinclat/index.htm
Id: 92	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/GOC-WDSF.Open.Youth.Latin/index.htm
Id: 93	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2023/dm_mas2slat/index.htm
Id: 94	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2022/dm_jun2kombi/index.htm
Id: 95	URL: https://ergebnisse.ggcbremen.de/2023-06-02.Dance.Sport.Festival/49-0406_wdsfopenstdyouth/index.htm
Id: 96	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2021/0910_rl_hgrslat/index.htm
Id: 97	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2020/02-15.DTV-Ranglistenturnier.Hauptgruppe.Standard/index.htm
Id: 98	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2022/dp_sen3skombi/index.htm
Id: 99	URL: https://ergebnisse.ggcbremen.de/2022-06-03.DSF/59-0406_wdsfopenstdjun2/index.htm
Id: 100	URL: https://ltvb.de/wp-content/uploads/results/13347/1-rl_hgrsstd/index.htm
Id: 101	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2021/dp_sen3slat/index.htm
Id: 102	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2022/dp_jun1bstd/index.htm
Id: 103	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2023/dm_mas3slat/index.htm
Id: 104	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2021/dp_sen2slat/index.htm
Id: 105	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/duesseldorf-sen1sstd/index.htm
Id: 106	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2021/l66-2/index.htm
Id: 107	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/dpu21std/index.htm
Id: 108	URL: https://ltv-berlin.de/files/ltv/ergebnisse/2022/01-03_04_bdf/0-0104_rl_sen3sstd/index.htm
Id: 109	URL: https://www.hessen-tanzt.de/media/ht2023/72-1405_wdsfopenstdsen2/index.htm
Id: 110	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/dmhgrkombi/index.htm
Id: 111	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2021/l66-3/index.htm
Id: 112	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2023/dm_jun1blat/index.htm
Id: 113	URL: https://ergebnisse.tnw.de/vereine/912/2023-02-25/3-2602_rl_mas1sstd/index.htm
Id: 114	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2023/dm_jun2blat/index.htm
Id: 115	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2022/dp_sen3sstd/index.htm
Id: 116	URL: https://ergebnisse.dancecomp.de/2022/68-0307_wdsfworldopenstd/index.htm
Id: 117	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/GOC-WDSF.GrandSlam.Latin/index.htm
Id: 118	URL: https://hatv.de/wrapper/2023/RL_Glinde_2023/0-2101_rl_mas2sstd/index.htm
Id: 119	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2023/ls66_230617/index.htm
Id: 120	URL: https://ltv-berlin.de/files/ltv/ergebnisse/2022/01-03_04_bdf/5-0204_rl_sen2sstd/index.htm
Id: 121	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2021/dc_under21lat/index.htm
Id: 122	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/11-23.Deutschlandpokal.Hauptgruppe.II.S.Standard/index.htm
Id: 123	URL: https://berlin-dance-festival.de/files/bdf/results/2023/7-0104_wdsfopenstdsen2/index.htm
Id: 124	URL: https://ergebnisse.dancecomp.de/2023/48-0107_wdsfworldopenlat/index.htm
Id: 125	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2021/l66-5/index.htm
Id: 126	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2022/dp_sen2skombi/index.htm
Id: 127	URL: https://www.hessen-tanzt.de/media/ht2023/54-1305_wdsfopenstdsen3/index.htm
Id: 128	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/GOC-WDSF.Open.Youth.Standard/index.htm
Id: 129	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/nuernberg-hgrsstd/index.htm
Id: 130	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/dpjun1blat/index.htm
Id: 131	URL: https://ltv-berlin.de/files/ltv/ergebnisse/2022/01-03_04_bdf/2-0204_rl_jugastd/index.htm
Id: 132	URL: https://ergebnisse.dancecomp.de/2022/0-0107_wdsfopenstdsen2/index.htm
Id: 133	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/glinde-hgrslat/index.htm
Id: 134	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/05-18.WDSF.Open.Youth.Latin/index.htm
Id: 135	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2022/dp_kincstd/index.htm
Id: 136	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2022/dm_jun2bstd/index.htm
Id: 137	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/dmsen1slat/index.htm
Id: 138	URL: https://ergebnisse.dancecomp.de/2023/79-0207_wdsfopenstdsen1/index.htm
Id: 139	URL: https://ltv-berlin.de/files/ltv/ergebnisse/2022/01-03_04_bdf/1-0204_rl_sen1sstd/index.htm
Id: 140	URL: https://www.hessen-tanzt.de/media/ht2023/48-1305_wdsfopenstdsen1/index.htm
Id: 141	URL: https://ltvb.de/wp-content/uploads/results/11280/1-rl_hgrsstd/index.htm
Id: 142	URL: https://berlin-dance-festival.de/files/bdf/results/2023/3-3103_wdsfopenstdsen1/index.htm
Id: 143	URL: https://hatv.de/wrapper/2023/RL_Glinde_2023/1-2101_rl_hgrslat/index.htm
Id: 144	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/05-19.WDSF.Open.Senior.III.Standard/index.htm
Id: 145	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2023/dm_mas3skombi/index.htm
Id: 146	URL: https://ergebnisse.ggcbremen.de/2022-06-03.DSF/97-0506_wdsfopenlatjun2/index.htm
Id: 147	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2020/01-18.DTV-Ranglistenturnier.Hauptgruppe.Latein/index.htm
Id: 148	URL: https://hatv.de/wrapper/2023/RL_Glinde_2023/3-2201_rl_mas1sstd/index.htm
Id: 149	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2021/1010_rl_hgrsstd/index.htm
Id: 150	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2022/dm_sen1slat/index.htm
Id: 151	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2021/dp_kincstd/index.htm
Id: 152	URL: https://www.hessen-tanzt.de/media/ht2022/29-1405_wdsfopenstdjun2/index.htm
Id: 153	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2023/dm_jun2bkombi/index.htm
Id: 154	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2022/dm_jugastd/index.htm
Id: 155	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2022/dp_jun1blat/index.htm
Id: 156	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/dchgralat/index.htm
Id: 157	URL: https://www.hessen-tanzt.de/media/ht2023/61-1405_wdsfopenlatjun2/index.htm
Id: 158	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2020/01-19.DTV-Ranglistenturnier.Senioren.I.Standard/index.htm
Id: 159	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/dpsen3sstd/index.htm
Id: 160	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2023/gl55_230408/index.htm
Id: 161	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2021/dm_jugastd/index.htm
Id: 162	URL: https://turniere.faszination-tanzen.de/LM_Latein_Coswig_2023/24-2801_rl_hgrsstd/index.htm
Id: 163	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/dpu21lat/index.htm
Id: 164	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2022/dp_sen2slat/index.htm
Id: 165	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2021/dm_hgrkombi/index.htm
Id: 166	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/05-19.WDSF.Open.Youth.Standard/index.htm
Id: 167	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2020/10-04.Deutschlandpokal.Hauptgruppe.II.S.Latein/index.htm
Id: 168	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2021/g55-3/index.htm
Id: 169	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2022/dm_jun2blat/index.htm
Id: 170	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2020/02-23.Deutsche.Meisterschaft.Jugend.A.Latein/index.htm
Id: 171	URL: https://ltvb.de/wp-content/uploads/results/11280/0-rl_sen3sstd/index.htm
Id: 172	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/11-23.Deutschlandpokal.Hauptgruppe.II.S.Latein/index.htm
Id: 173	URL: https://berlin-dance-festival.de/files/bdf/results/2023/13-0204_wdsfintopenlat/index.htm
Id: 174	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2021/dp_sen2kombi/index.htm
Id: 175	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2021/dp_sen4sstd/index.htm
Id: 176	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/GOC-Junior.II.Open.Latin/index.htm
Id: 177	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2022/dc_hgrastd/index.htm
Id: 178	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/05-18.WDSF.Open.Junior.II.Standard/index.htm
Id: 179	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/3le-hgrslat/index.htm
Id: 180	URL: https://www.gruen-weiss-aachen.de/files/ergebnisse/3le-2022/18-1806_rl_sen2sstd/index.htm
Id: 181	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2022/dp_sen3slat/index.htm
Id: 182	URL: https://www.hessen-tanzt.de/media/ht2022/39-1405_wdsfintopenstd/index.htm
Id: 183	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2022/dm_sen1sstd/index.htm
Id: 184	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2022/dc_under21std/index.htm
Id: 185	URL: https://ltv-berlin.de/files/ltv/ergebnisse/2022/01-03_04_bdf/3-0204_rl_hgrslat/index.htm
Id: 186	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2022/dp_sen4sstd/index.htm
Id: 187	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/duesseldorf-hgrsstd/index.htm
Id: 188	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/05-19.WDSF.Open.Senior.I.Standard/index.htm
Id: 189	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2022/dp_hgr2slat/index.htm
Id: 190	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/GOC-WDSF.Open.Senior.I.Standard/index.htm
Id: 191	URL: https://ergebnisse.tnw.de/vereine/912/2023-02-25/2-2602_rl_hgrslat/index.htm
Id: 192	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/dmsen2sstd/index.htm
Id: 193	URL: https://berlin-dance-festival.de/files/bdf/results/2023/14-0204_wdsfopenstdyouth/index.htm
Id: 194	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/GOC-WDSF.Open.Senior.II.Standard/index.htm
Id: 195	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/dmjugastd/index.htm
Id: 196	URL: https://ltv-berlin.de/files/ltv/ergebnisse/2022/01-03_04_bdf/4-0204_rl_jun2blat/index.htm
Id: 197	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2021/dm_jun2bstd/index.htm
Id: 198	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/om-jugalat/index.htm
Id: 199	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/05-19.WDSF.Open.Junior.II.Latin/index.htm
Id: 200	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2020/10-04.Deutschlandpokal.Hauptgruppe.II.S.Standard/index.htm
Id: 201	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/05-19.WDSF.International.Open.Adult.Latin/index.htm
Id: 202	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2023/dm_jugakombi/index.htm
Id: 203	URL: https://ergebnisse.ggcbremen.de/2023-06-02.Dance.Sport.Festival/40-0306_wdsfopenlatyouth/index.htm
Id: 204	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/glinde-sen1sstd/index.htm
Id: 205	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/dpsen2slat/index.htm
Id: 206	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2022/dp_kinclat/index.htm
Id: 207	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2023/gl55_230422/index.htm
Id: 208	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2021/g55-2/index.htm
Id: 209	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/3le-hgrsstd/index.htm
Id: 210	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/nuernberg-sen3sstd/index.htm
Id: 211	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2020/10-03.Deutsche.Meisterschaft.Hauptgruppe.S.Latein/index.htm
Id: 212	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/dmhgrslat/index.htm
Id: 213	URL: https://ergebnisse.dancecomp.de/2023/77-0207_wdsfworldopenstd/index.htm
Id: 214	URL: https://www.tanzsport.de/files/tanzsport/ergebnisse/2021/dp_jun1blat/index.htm
Id: 215	URL: https://www.hessen-tanzt.de/media/ht2023/66-1405_wdsfintopenlat/index.htm
Id: 216	URL: https://www.hessen-tanzt.de/media/ht2022/40-1405_wdsfopenstdsen3/index.htm

In [8]:
url_id = 0
competition_url: str = unprocessed_tournaments_df[c.C.TOUR_LINK.value][url_id]
competition_id: int  = unprocessed_tournaments_df[c.C.ID.value][url_id]
# Start a Chrome driver to open the selected url.
service = Service()
options = webdriver.ChromeOptions()
driver = webdriver.Chrome(service=service, options=options)
driver.get(competition_url)

# From the tournament link - extract the competition links.
# menu_url = re.compile('src="(.*)"').search(html).group(1)
competition_menue_links = [competition_url.replace('index.htm', "menu.htm#id2")]
df_tables = []
for l in competition_menue_links:
    driver.get(l)
    # Wait a second since the menu has to build itself before it can be collected.
    time.sleep(1)
        
    html = driver.page_source
    df_tables.append(pd.read_html(StringIO(html)))

# It may be that the data is stored in a nested DataFrame. 
# In this case extract it.
if len(df_tables) == 1:
    df_tables = df_tables[0]

# Since the download is complete now, close the driver.
driver.close()

print(competition_url)
df_tables

https://www.tanzsport.de/files/tanzsport/ergebnisse/2019/3le-sen1sstd/index.htm

[                                            0  1
 0  DTV-Ranglistenturnier Sen I S Std - Aachen  ≡,
                    0                                                  1
 0      Veranstalter:               TSC Grün-Weiß Aquisgrana Aachen e.V.
 1        Ausrichter:               TSC Grün-Weiß Aquisgrana Aachen e.V.
 2     Turnierleiter:     Guido Gehlhaar TSC Grün-Weiß Aquisgrana Aachen
 3         Beisitzer:     Ilona Gehlhaar TSC Grün-Weiß Aquisgrana Aachen
 4         Protokoll:        Tobias Hock TSC Grün-Weiß Aquisgrana Aachen
 5       Turnierbüro:  Ursula Belten TSC Grün-Weiß Aquisgrana Aachen ...
 6             Musik:  Kerstin Fasel TSC Grün-Weiß Aquisgrana Aachen ...
 7   Wertungsrichter:                                                NaN
 8                 A:  Petra Matschullat-Horn TD Tanzsportclub Düssel...
 9                 B:                 Christoph Losensky Tanzclub Bernau
 10                C:  Madeleine Rohne TSA im Moritzburger Sportverei...
 11                D:                   Petra Dres TSC Rot-Gold Sinsheim
 12                E:            Peter Voß TSC Casino Oberalster Hamburg
 13                F:                    Susanne Neuhaus TSG Bremerhaven
 14                G:     Bernd Lachenmaier TSA d. TSV Unterhaching 1910,
           0                                                  1            2  \
 0  Endrunde                                           Endrunde     Endrunde
 1     Platz                                          Paar/Club           LW
 2        1.  Spörl, Sebastian / Rodionova, Kristina (6) TSC...  1212111 1.0
 3        2.  Brinkmann, Christian / Ostholt, Alena (16) Die...  2121553 2.0
 4        3.  Otto, Sascha / Vollmer, Janne (7) TC Der Frank...  4443222 3.0
 5        4.  Ciomber, Dennis / von Brühl, Julia (2) Art of ...  5654345 4.0
 6        5.  Bohn, Bruno / Bohn, Monika (12) TC Schwarz-Wei...  6365634 5.5
 7        6.  Rybka, Harald / Rybka-Schmidt, Sarah (14) TC R...  3536466 5.5

              3            4            5            6         7
 0     Endrunde     Endrunde     Endrunde     Endrunde  Endrunde
 1           TG           WW           SF           QU        PZ
 2  1112111 1.0  1212121 1.0  1211111 1.0  1112111 1.0       5.0
 3  3221553 2.0  2121654 2.0  3122654 2.0  5221453 2.0      10.0
 4  4545242 3.0  5454232 4.0  5443242 4.0  6543242 3.0      17.0
 5  6663336 6.0  4633343 3.0  4634333 3.0  4654335 5.0      21.0
 6  5354625 5.0  6365415 5.0  6355425 5.0  3366524 4.0      24.5
 7  2436464 4.0  3546566 6.0  2566566 6.0  2435666 6.0      27.5  ,
                    0                                              1  \
 0                NaN                                            NaN
 1   1. Zwischenrunde                               1. Zwischenrunde
 2                 7.               Turpin, Mark / Turpin, Sina (17)
 3                 8.        Steinhäuser, Arnd / Lotsch, Martina (5)
 4            9.- 10.       Nölle, Jochen / Flohr-Nölle, Tatjana (3)
 5            9.- 10.        Müller, René / Pfeffer, Anna Maria (13)
 6                11.             Weber, Christian / Weber, Kim (66)
 7                12.      Wilhelm, Florian / Friederich, Yvonne (1)
 8                NaN                                            NaN
 9           Vorrunde                                       Vorrunde
 10               13.      Knittel, Gordon / Rührmund, Isabelle (20)
 11               14.       Walz, Marco / Hopfgarten, Christina (18)
 12               15.       Schröder, Karsten / Rothe, Christine (8)
 13          16.- 17.  Adrian, Claudius / Fischer-Adrian, Andrea (9)
 14          16.- 17.       Paar, Thorsten / Steinebach, Sandra (19)
 15               18.          Exner, Benjamin / Exner, Valeska (10)
 16               19.             Pfitzner, Ralf / Pfitzner, Eva (4)
 17               20.         Schrader, Markus / Utermark, Anja (15)

                                                 2
 0                                             NaN
 1                                1. Zwischenrunde
 2                       TC Rot-Weiss Casino Mainz
 3                   TanzSportZentrum Braunschweig
 4                          Tanzsportclub Dortmund
 5                               TSC Savoy München
 6                        TanzZentrum Ludwigshafen
 7                        TSA d. 1. SC Norderstedt
 8                                             NaN
 9                                        Vorrunde
 10  btc Grün-Gold der Turngemeinde in Berlin 1848
 11                                 TSG Leverkusen
 12                           Askania - TSC Berlin
 13                   TSC Rot-Gold-Casino Nürnberg
 14           TD Tanzsportclub Düsseldorf Rot-Weiß
 15                        TSA im TSV Neudorf 1913
 16               1. TGC Redoute Koblenz + Neuwied
 17                     Braunschweig Dance Company  ,
                                          0                        1   \
 0                                       Nr.          Wertungsrichter
 1                                       Nr.  APetra Matschullat-Horn
 2                                       NaN         Langsamer Walzer
 3       2Ciomber, Dennis / von Brühl, Julia                        5
 4   6Spörl, Sebastian / Rodionova, Kristina                        1
 5            7Otto, Sascha / Vollmer, Janne                        4
 6              12Bohn, Bruno / Bohn, Monika                        6
 7    14Rybka, Harald / Rybka-Schmidt, Sarah                        3
 8   16Brinkmann, Christian / Ostholt, Alena                        2
 9                                       NaN                    Tango
 10      2Ciomber, Dennis / von Brühl, Julia                        6
 11  6Spörl, Sebastian / Rodionova, Kristina                        1
 12           7Otto, Sascha / Vollmer, Janne                        4
 13             12Bohn, Bruno / Bohn, Monika                        5
 14   14Rybka, Harald / Rybka-Schmidt, Sarah                        2
 15  16Brinkmann, Christian / Ostholt, Alena                        3
 16                                      NaN            Wiener Walzer
 17      2Ciomber, Dennis / von Brühl, Julia                        4
 18  6Spörl, Sebastian / Rodionova, Kristina                        1
 19           7Otto, Sascha / Vollmer, Janne                        5
 20             12Bohn, Bruno / Bohn, Monika                        6
 21   14Rybka, Harald / Rybka-Schmidt, Sarah                        3
 22  16Brinkmann, Christian / Ostholt, Alena                        2
 23                                      NaN                  Slowfox
 24      2Ciomber, Dennis / von Brühl, Julia                        4
 25  6Spörl, Sebastian / Rodionova, Kristina                        1
 26           7Otto, Sascha / Vollmer, Janne                        5
 27             12Bohn, Bruno / Bohn, Monika                        6
 28   14Rybka, Harald / Rybka-Schmidt, Sarah                        2
 29  16Brinkmann, Christian / Ostholt, Alena                        3
 30                                      NaN                Quickstep
 31      2Ciomber, Dennis / von Brühl, Julia                        4
 32  6Spörl, Sebastian / Rodionova, Kristina                        1
 33           7Otto, Sascha / Vollmer, Janne                        6
 34             12Bohn, Bruno / Bohn, Monika                        3
 35   14Rybka, Harald / Rybka-Schmidt, Sarah                        2
 36  16Brinkmann, Christian / Ostholt, Alena                        5

                      2                 3                 4                 5   \
 0       Wertungsrichter   Wertungsrichter   Wertungsrichter   Wertungsrichter
 1   BChristoph Losensky  CMadeleine Rohne       DPetra Dres        EPeter Voß
 2      Langsamer Walzer  Langsamer Walzer  Langsamer Walzer  Langsamer Walzer
 3                     6                 5                 4                 3
 4                     2                 1                 2                 1
 5                     4                 4                 3                 2
 6                     3                 6                 5                 6
 7                     5                 3                 6                 4
 8                     1                 2                 1                 5
 9                 Tango             Tango             Tango             Tango
 10                    6                 6                 3                 3
 11                    1                 1                 2                 1
 12                    5                 4                 5                 2
 13                    3                 5                 4                 6
 14                    4                 3                 6                 4
 15                    2                 2                 1                 5
 16        Wiener Walzer     Wiener Walzer     Wiener Walzer     Wiener Walzer
 17                    6                 3                 3                 3
 18                    2                 1                 2                 1
 19                    4                 5                 4                 2
 20                    3                 6                 5                 4
 21                    5                 4                 6                 5
 22                    1                 2                 1                 6
 23              Slowfox           Slowfox           Slowfox           Slowfox
 24                    6                 3                 4                 3
 25                    2                 1                 1                 1
 26                    4                 4                 3                 2
 27                    3                 5                 5                 4
 28                    5                 6                 6                 5
 29                    1                 2                 2                 6
 30            Quickstep         Quickstep         Quickstep         Quickstep
 31                    6                 5                 4                 3
 32                    1                 1                 2                 1
 33                    5                 4                 3                 2
 34                    3                 6                 6                 5
 35                    4                 3                 5                 6
 36                    2                 2                 1                 4

                   6                   7            8            9   \
 0    Wertungsrichter     Wertungsrichter  Ausrechnung  Ausrechnung
 1   FSusanne Neuhaus  GBernd Lachenmaier           1.        1.-2.
 2   Langsamer Walzer    Langsamer Walzer          NaN          NaN
 3                  4                   5            0            0
 4                  1                   1            5            -
 5                  2                   2            0            3
 6                  3                   4            0            0
 7                  6                   6            0            0
 8                  5                   3            2            4
 9              Tango               Tango          NaN          NaN
 10                 3                   6            0            0
 11                 1                   1            6            -
 12                 4                   2            0            2
 13                 2                   5            0            1
 14                 6                   4            0            1
 15                 5                   3            1            3
 16     Wiener Walzer       Wiener Walzer          NaN          NaN
 17                 4                   3            0            0
 18                 2                   1            4            -
 19                 3                   2            0            2
 20                 1                   5            1            1
 21                 6                   6            0            0
 22                 5                   4            2            4
 23           Slowfox             Slowfox          NaN          NaN
 24                 3                   3            0            0
 25                 1                   1            6            -
 26                 4                   2            0            2
 27                 2                   5            0            1
 28                 6                   6            0            1
 29                 5                   4            1            3
 30         Quickstep           Quickstep          NaN          NaN
 31                 3                   5            0            0
 32                 1                   1            6            -
 33                 4                   2            0            2
 34                 2                   4            0            1
 35                 6                   6            0            1
 36                 5                   3            1            3

              10           11           12           13     14     15
 0   Ausrechnung  Ausrechnung  Ausrechnung  Ausrechnung  Platz  Summe
 1         1.-3.        1.-4.        1.-5.        1.-6.  Platz  Summe
 2           NaN          NaN          NaN          NaN    NaN    NaN
 3             1            3            6            -     40     40
 4             -            -            -            -     10     10
 5             4            -            -            -     30     30
 6             2            3        4(15)        7(33)     55     55
 7             2            3        4(15)        7(33)     55     55
 8             -            -            -            -     20     20
 9           NaN          NaN          NaN          NaN    NaN    NaN
 10            3            3            3            7     60    100
 11            -            -            -            -     10     20
 12            2        5(16)            -            -     30     60
 13            2            3            6            -     50    105
 14            2        5(17)            -            -     40     95
 15            5            -            -            -     20     40
 16          NaN          NaN          NaN          NaN    NaN    NaN
 17            4            -            -            -     30    130
 18            -            -            -            -     10     30
 19            3            5            -            -     40    100
 20            2            3            5            -     50    155
 21            1            2            4            -     60    155
 22            -            -            -            -     20     60
 23          NaN          NaN          NaN          NaN    NaN    NaN
 24        4(12)            -            -            -     30    160
 25            -            -            -            -     10     40
 26            3            6            -            -     40    140
 27            2            3            6            -     50    205
 28            1            1            3            7     60    215
 29         4(8)            -            -            -     20     80
 30          NaN          NaN          NaN          NaN    NaN    NaN
 31            2        4(14)            -            -     50    210
 32            -            -            -            -     10     50
 33            3            5            -            -     30    170
 34            3        4(12)            -            -     40    245
 35            2            3            4            -     60    275
 36            4            -            -            -     20    100  ,
                                                    0   \
 0                               Anzahl Teilnehmer: 20
 1                                     Wertungsrichter
 2   A) Petra Matschullat-Horn B) Christoph Losensk...
 3                               Ergebnis der Vorrunde
 4               Qualifiziert für die 1. Zwischenrunde
 5   A) Petra Matschullat-Horn B) Christoph Losensk...
 6                       Ergebnis der 1. Zwischenrunde
 7                       Qualifiziert für die Endrunde
 8                                   Addition Endrunde
 9                                         Startnummer
 10                                Platz von Platz bis
 11                                    Aufstiegspunkte

                                         1   \
 0                              Startnummer
 1   1Wilhelm, Florian / Friederich, Yvonne
 2                            1 1 5 1 2 5 0
 3                                       15
 4                                        X
 5                            0 0 0 0 0 0 0
 6                                        0
 7                                      NaN
 8                                      NaN
 9   1Wilhelm, Florian / Friederich, Yvonne
 10                                      12
 11                                       -

                                      2   \
 0                           Startnummer
 1   2Ciomber, Dennis / von Brühl, Julia
 2                         4 3 5 4 5 5 5
 3                                    31
 4                                     X
 5                         3 1 4 4 5 5 5
 6                                    27
 7                                     X
 8                                   210
 9   2Ciomber, Dennis / von Brühl, Julia
 10                                    4
 11                                    -

                                        3                                4   \
 0                             Startnummer                      Startnummer
 1   3Nölle, Jochen / Flohr-Nölle, Tatjana  4Pfitzner, Ralf / Pfitzner, Eva
 2                           4 4 5 4 5 4 3                    2 0 0 1 0 0 2
 3                                      29                                5
 4                                       X                              NaN
 5                           0 3 0 0 1 0 0                              NaN
 6                                       4                              NaN
 7                                     NaN                              NaN
 8                                     NaN                              NaN
 9   3Nölle, Jochen / Flohr-Nölle, Tatjana  4Pfitzner, Ralf / Pfitzner, Eva
 10                                   9 10                               19
 11                                      -                                -

                                       5   \
 0                            Startnummer
 1   5Steinhäuser, Arnd / Lotsch, Martina
 2                          4 5 5 5 4 5 1
 3                                     29
 4                                      X
 5                          0 0 2 2 0 1 3
 6                                      8
 7                                    NaN
 8                                    NaN
 9   5Steinhäuser, Arnd / Lotsch, Martina
 10                                     8
 11                                     -

                                          6                               7   \
 0                               Startnummer                     Startnummer
 1   6Spörl, Sebastian / Rodionova, Kristina  7Otto, Sascha / Vollmer, Janne
 2                             5 5 5 5 5 5 5                   5 5 5 5 5 5 5
 3                                        35                              35
 4                                         X                               X
 5                             5 5 5 5 5 5 5                   5 5 5 4 5 5 5
 6                                        35                              34
 7                                         X                               X
 8                                        50                             170
 9   6Spörl, Sebastian / Rodionova, Kristina  7Otto, Sascha / Vollmer, Janne

In [9]:
# Create a folder to store the tables. Save a table and an equivalent README.md, containing the website link and the crawl date.

competition_dir = Path('results', 'comp_tables', f"{competition_id}")
# If directories do not exist, create them.
competition_dir.mkdir(parents=True, exist_ok=True)

# Save key information into a DataFrame and save it in the dir.
crawl_date = date.today().strftime("%B %d, %Y")
df_readme = pd.DataFrame({'Competition url': [competition_url],
                          'Crawl date': [crawl_date]})
df_readme.to_csv(Path(competition_dir, 'README.csv'))
# Save key information into a Markdown file and save it in the dir.
with open(Path(competition_dir, 'README.md'), 'w') as f:
    f.write(f'[Competition URL]({competition_url})\n')
    f.write(f'Crawled on {crawl_date}\n')
    f.write('by Fabrice Beaumont')

In [10]:
# Parse all tables.
# List of possible data tables:
class data_dfs(Enum):
    general_info: str   = 'General informations'
    adjudicators: str   = 'Wertungsrichter'
    couples: str        = 'Coupes'
    ranking_list: str   = 'Ergebnisliste'
    finals: str         = 'Eindrundentabelle'
    qualifications: str = 'Wertungstabelle gesamt'

df_general_info: pd.DataFrame   = None
df_couples: pd.DataFrame        = None
df_finals: pd.DataFrame         = None
df_dict: Dict[str, List[pd.DataFrame]] = {
    data_dfs.general_info: [],
    data_dfs.adjudicators: None,
    data_dfs.couples: [],
    data_dfs.ranking_list: [],
    data_dfs.finals: [],
    data_dfs.qualifications: [],
}

# The first table is expected to be the competiton name in all cases.
competition_name = df_tables[0][0][0]

for i in range(1, len(df_tables)):
    table = df_tables[i]

    # Test for different criteria to sort the tables into the dictionary.
    # GENERAL INFORMATION table.
    if table[0][0] in ['Veranstalter:', 'Ausrichter:', 'Organizer:', 'Master of Ceremony:']:
        print(f"Found general info\t\tin table {i}")
        df_dict[data_dfs.general_info].append(table)
        continue
    
    # RANKING LIST table - finals section.
    if len(table[0]) > 1 and str(table[0][0]) in ['Endrunde', 'Final']:
        print(f"Found ranking list (finals)\tin table {i}")
        df_dict[data_dfs.ranking_list].append(table)
        continue

    # RANKING LIST table - all qualification rounds sections.
    if len(table[0]) > 1 and str(table[0][1])[-5:] in ["runde"]:
        print(f"Found ranking list (round)\tin table {i}")
        df_dict[data_dfs.ranking_list].append(table)
        continue
    
    # FINALS table (containing the scating system and placements for each couple from each adjudicator).
    if len(table[0]) > 1 and str(table[1][0]) in ['Wertungsrichter']:
        print(f"Found finals scating\t\tin table {i}")
        df_dict[data_dfs.finals].append(table)
        continue
    
    # QUALIFICATIONS table (containing points for all couples).
    if len(table[0]) > 1 and str(table[0][1]) in ['Wertungsrichter']:
        print(f"Found qualifications\t\tin table {i}")
        df_dict[data_dfs.qualifications].append(table)
        continue

    print(table)

Found general info		in table 1
Found ranking list (finals)	in table 2
Found ranking list (round)	in table 3
Found finals scating		in table 4
Found qualifications		in table 5
Found qualifications		in table 6

## Processing of the general information and adjudicator list

In [11]:
df_general_info = df_dict[data_dfs.general_info][0].copy()
# Split the gereral information table into the tournament information and the adjudicator list.
split_id = np.where(df_general_info.iloc[:, 1].isnull().values == True)[0][0]
# Extract the remaining rows as information about the adjudicators.
adjudicator_names = list(df_general_info.iloc[split_id+1:, 1])
adjudicator_ids = [x[:1] for x in list(df_general_info.iloc[split_id+1:, 0])]
adjudicators = dict(zip(adjudicator_ids, adjudicator_names))

# Extract the data into individual variables.
df_general_info = pd.DataFrame(df_general_info.iloc[:split_id, :])
df_general_info.set_index([0])
df_general_info.columns = [c.C.CATEGORY.value, c.C.VALUE.value]
df_general_info = df_general_info[1:]
df_dict[data_dfs.general_info] = df_general_info
df_dict[data_dfs.general_info].to_csv(Path(competition_dir, 'general_info.csv'))
df_dict[data_dfs.general_info]

         Category                                              Value
1     Ausrichter:               TSC Grün-Weiß Aquisgrana Aachen e.V.
2  Turnierleiter:     Guido Gehlhaar TSC Grün-Weiß Aquisgrana Aachen
3      Beisitzer:     Ilona Gehlhaar TSC Grün-Weiß Aquisgrana Aachen
4      Protokoll:        Tobias Hock TSC Grün-Weiß Aquisgrana Aachen
5    Turnierbüro:  Ursula Belten TSC Grün-Weiß Aquisgrana Aachen ...
6          Musik:  Kerstin Fasel TSC Grün-Weiß Aquisgrana Aachen ...

In [12]:
# Process the dict of adjudicators.
adjudicators_id_club: Dict[str, Tuple[Tuple[str, str], str]] = dict()
for adjudicator_id, adjudicator_and_club in adjudicators.items():
    ac = adjudicator_and_club.split(" ")
    adjudicator, club = tuple(ac[0:2]), " ".join(ac[2:])
    
    adjudicators_id_club[adjudicator_id] = tuple([adjudicator, club])

# Create a DataFrame to hold the adjudicator information.
df_adjudicators = pd.DataFrame(columns=[c.C.SURNAME.value, c.C.NAME.value, c.C.CLUB.value])
# Add adjudicators which are unknown (defined as surname, name, club triple).
for _, adjudicator_data in adjudicators_id_club.items():
    name, surname = adjudicator_data[0]
    club = adjudicator_data[1]
    
    # Check if adjudicator is already known:    
    x = df_adjudicators.loc[(df_adjudicators[c.C.SURNAME.value] == surname) & (df_adjudicators[c.C.NAME.value] == name) & (df_adjudicators[c.C.CLUB.value] == club)]
    # Only add, if not already known.
    if len(x) == 0:   
        new_row = pd.DataFrame({c.C.SURNAME.value:surname, c.C.NAME.value:name, c.C.CLUB.value:club}, index=[0])
        df_adjudicators = pd.concat([new_row,df_adjudicators.loc[:]]).reset_index(drop=True)

df_dict[data_dfs.adjudicators] = df_adjudicators
df_dict[data_dfs.adjudicators].to_csv(Path(competition_dir, 'adjudicators.csv'))
df_dict[data_dfs.adjudicators]

            Surname       Name                                  Club
0       Lachenmaier      Bernd          TSA d. TSV Unterhaching 1910
1           Neuhaus    Susanne                       TSG Bremerhaven
2               Voß      Peter         TSC Casino Oberalster Hamburg
3              Dres      Petra                 TSC Rot-Gold Sinsheim
4             Rohne  Madeleine  TSA im Moritzburger Sportverein 1990
5          Losensky  Christoph                       Tanzclub Bernau
6  Matschullat-Horn      Petra  TD Tanzsportclub Düsseldorf Rot-Weiß

In [13]:
nr_adjudicators = len(df_dict[data_dfs.adjudicators])
nr_adjudicators

7

## Processing of the coupes list

In [14]:
if len(df_dict[data_dfs.couples]) > 0:
    df_couples = df_dict[data_dfs.couples]
    # Use the first row as column names and then delete it.
    df_couples.columns = df_couples.iloc[0]
    df_couples = df_couples[1:]
    df_couples = df_couples.set_index(c.C.NR.value)
    # Extract the names of the lady and the man individually.
    # Do not separate the fist and last names since depending on multiple name and titles (e.g. 'Dr.', 'Prof.') this may be more complicated.
    # To identify a person simply test if the surname is part of the name string.
    df_couples[[c.C.MAN.value, c.C.LADY.value]] = df_couples[c.C.COUPLE.value].str.split(" / ", expand = True)
    # Rearrange the columns.
    df_couples = df_couples[[c.C.MAN.value, c.C.LADY.value, c.C.COUPLE.value, c.C.CLUB.value]]
    df_dict[data_dfs.couples] = df_couples

df_dict[data_dfs.couples]

[]

## Processing of the ranking list

In [15]:
df_dict[data_dfs.ranking_list][0]

,0,1,2,3,4,5,6,7
0,Endrunde,Endrunde,Endrunde,Endrunde,Endrunde,Endrunde,Endrunde,Endrunde
1,Platz,Paar/Club,LW,TG,WW,SF,QU,PZ
2,1.,"Spörl, Sebastian / Rodionova, Kristina (6) TSC...",1212111 1.0,1112111 1.0,1212121 1.0,1211111 1.0,1112111 1.0,5.0
3,2.,"Brinkmann, Christian / Ostholt, Alena (16) Die...",2121553 2.0,3221553 2.0,2121654 2.0,3122654 2.0,5221453 2.0,10.0
4,3.,"Otto, Sascha / Vollmer, Janne (7) TC Der Frank...",4443222 3.0,4545242 3.0,5454232 4.0,5443242 4.0,6543242 3.0,17.0
5,4.,"Ciomber, Dennis / von Brühl, Julia (2) Art of ...",5654345 4.0,6663336 6.0,4633343 3.0,4634333 3.0,4654335 5.0,21.0
6,5.,"Bohn, Bruno / Bohn, Monika (12) TC Schwarz-Wei...",6365634 5.5,5354625 5.0,6365415 5.0,6355425 5.0,3366524 4.0,24.5
7,6.,"Rybka, Harald / Rybka-Schmidt, Sarah (14) TC R...",3536466 5.5,2436464 4.0,3546566 6.0,2566566 6.0,2435666 6.0,27.5

In [16]:
df_ranking_finals = df_dict[data_dfs.ranking_list][0].copy()
# Drop the first row which contains only the key word 'Finals'.
df_ranking_finals = df_ranking_finals[1:]
# Set the first row as headder, and drop it form the data body.
df_ranking_finals.columns = df_ranking_finals.iloc[0]
df_ranking_finals = df_ranking_finals[1:]

# Since the placements of the finals are redundant information and will be extracted from the finals table,
# delete it here. In case that there were more rounds this allows to easily join the other rankings to this table.
df_ranking_finals.drop(columns=['LW', 'TG', 'WW', 'SF', 'QU', 'SB', 'CC', 'RB', 'PD', 'JV', 'PZ'], inplace=True, errors='ignore')
# Split the club name from the couples name (and their number).
df_ranking_finals[[c.C.COUPLE.value, c.C.CLUB.value]] = df_ranking_finals['Paar/Club'].str.split(")", expand = True)
df_ranking_finals.drop(columns=['Paar/Club'], inplace=True)
df_ranking_finals[[c.C.COUPLE.value, c.C.NR.value]] = df_ranking_finals[c.C.COUPLE.value].str.split("(", expand = True)
df_ranking_finals[['Round']] = 'Endrunde'
df_ranking_finals = df_ranking_finals[[c.C.PLACEMENT.value, 'Round', c.C.NR.value, c.C.COUPLE.value, c.C.CLUB.value]]
df_ranking_finals

1,Platz,Round,Nr.,Paar,Club
2,1.,Endrunde,6,"Spörl, Sebastian / Rodionova, Kristina",TSC Rot-Gold-Casino Nürnberg
3,2.,Endrunde,16,"Brinkmann, Christian / Ostholt, Alena",Die Residenz Münster
4,3.,Endrunde,7,"Otto, Sascha / Vollmer, Janne",TC Der Frankfurter Kreis
5,4.,Endrunde,2,"Ciomber, Dennis / von Brühl, Julia","Art of Dance, Köln"
6,5.,Endrunde,12,"Bohn, Bruno / Bohn, Monika",TC Schwarz-Weiß Reutlingen
7,6.,Endrunde,14,"Rybka, Harald / Rybka-Schmidt, Sarah",TC Rot-Weiss Casino Mainz

In [17]:
df_ranking_other = df_dict[data_dfs.ranking_list][1].copy()
# Drop all rows which contain only NaN values. These are originally used to separate the tables.
df_ranking_other.dropna(axis=0, how='all', inplace=True)
# Rename the columns.
df_ranking_other.columns = [c.C.PLACEMENT.value, c.C.COUPLE.value, c.C.CLUB.value]

# Split the club name from the couples name (and their number).
df_ranking_other[[c.C.NR.value]] = df_ranking_other[c.C.COUPLE.value].str.extract(r'\((\d*)\)', expand = True)
df_ranking_other[[c.C.COUPLE.value]] = df_ranking_other[c.C.COUPLE.value].str.extract(r'(.*)\(', expand = True)

# Collect the row indices that contain names instead of placements. These are the round names.
round_rows = df_ranking_other[df_ranking_other[c.C.PLACEMENT.value].str.endswith('runde')]
round_list: List[Tuple[int, str]] = [(i, round_rows[c.C.PLACEMENT.value][i]) for i in round_rows.index] + [(len(df_ranking_other), '')]

# Mark all following rows with the corresponding round name in a new column.
df_ranking_other[['Round']] = round_list[0][1]
for i in range(len(round_list) - 1):
    start_index, round_name = round_list[i]
    end_index = round_list[i+1][0]
    df_ranking_other.loc[start_index : end_index + 1, 'Round'] = round_name


# Now delete the rows with the round names. 
# Notice that we ignore the last entry since this is an artificial one to finish the for-loop above.
for i, _ in round_list[:-1]:
    df_ranking_other.drop(i, inplace=True)

# Rearrange the column order.
df_ranking_other = df_ranking_other[[c.C.PLACEMENT.value, 'Round', c.C.NR.value, c.C.COUPLE.value, c.C.CLUB.value]]

df_ranking_other

,Platz,Round,Nr.,Paar,Club
2,7.,1. Zwischenrunde,17,"Turpin, Mark / Turpin, Sina",TC Rot-Weiss Casino Mainz
3,8.,1. Zwischenrunde,5,"Steinhäuser, Arnd / Lotsch, Martina",TanzSportZentrum Braunschweig
4,9.- 10.,1. Zwischenrunde,3,"Nölle, Jochen / Flohr-Nölle, Tatjana",Tanzsportclub Dortmund
5,9.- 10.,1. Zwischenrunde,13,"Müller, René / Pfeffer, Anna Maria",TSC Savoy München
6,11.,1. Zwischenrunde,66,"Weber, Christian / Weber, Kim",TanzZentrum Ludwigshafen
7,12.,1. Zwischenrunde,1,"Wilhelm, Florian / Friederich, Yvonne",TSA d. 1. SC Norderstedt
10,13.,Vorrunde,20,"Knittel, Gordon / Rührmund, Isabelle",btc Grün-Gold der Turngemeinde in Berlin 1848
11,14.,Vorrunde,18,"Walz, Marco / Hopfgarten, Christina",TSG Leverkusen
12,15.,Vorrunde,8,"Schröder, Karsten / Rothe, Christine",Askania - TSC Berlin
13,16.- 17.,Vorrunde,9,"Adrian, Claudius / Fischer-Adrian, Andrea",TSC Rot-Gold-Casino Nürnberg
14,16.- 17.,Vorrunde,19,"Paar, Thorsten / Steinebach, Sandra",TD Tanzsportclub Düsseldorf Rot-Weiß
15,18.,Vorrunde,10,"Exner, Benjamin / Exner, Valeska",TSA im TSV Neudorf 1913
16,19.,Vorrunde,4,"Pfitzner, Ralf / Pfitzner, Eva",1. TGC Redoute Koblenz + Neuwied
17,20.,Vorrunde,15,"Schrader, Markus / Utermark, Anja",Braunschweig Dance Company

In [18]:
df_rankings = pd.concat([df_ranking_finals, df_ranking_other])
df_dict[data_dfs.ranking_list] = df_rankings
df_dict[data_dfs.ranking_list].to_csv(Path(competition_dir, 'ranking_list.csv'))
df_dict[data_dfs.ranking_list]

,Platz,Round,Nr.,Paar,Club
2,1.,Endrunde,6,"Spörl, Sebastian / Rodionova, Kristina",TSC Rot-Gold-Casino Nürnberg
3,2.,Endrunde,16,"Brinkmann, Christian / Ostholt, Alena",Die Residenz Münster
4,3.,Endrunde,7,"Otto, Sascha / Vollmer, Janne",TC Der Frankfurter Kreis
5,4.,Endrunde,2,"Ciomber, Dennis / von Brühl, Julia","Art of Dance, Köln"
6,5.,Endrunde,12,"Bohn, Bruno / Bohn, Monika",TC Schwarz-Weiß Reutlingen
7,6.,Endrunde,14,"Rybka, Harald / Rybka-Schmidt, Sarah",TC Rot-Weiss Casino Mainz
2,7.,1. Zwischenrunde,17,"Turpin, Mark / Turpin, Sina",TC Rot-Weiss Casino Mainz
3,8.,1. Zwischenrunde,5,"Steinhäuser, Arnd / Lotsch, Martina",TanzSportZentrum Braunschweig
4,9.- 10.,1. Zwischenrunde,3,"Nölle, Jochen / Flohr-Nölle, Tatjana",Tanzsportclub Dortmund
5,9.- 10.,1. Zwischenrunde,13,"Müller, René / Pfeffer, Anna Maria",TSC Savoy München
6,11.,1. Zwischenrunde,66,"Weber, Christian / Weber, Kim",TanzZentrum Ludwigshafen
7,12.,1. Zwischenrunde,1,"Wilhelm, Florian / Friederich, Yvonne",TSA d. 1. SC Norderstedt
10,13.,Vorrunde,20,"Knittel, Gordon / Rührmund, Isabelle",btc Grün-Gold der Turngemeinde in Berlin 1848
11,14.,Vorrunde,18,"Walz, Marco / Hopfgarten, Christina",TSG Leverkusen
12,15.,Vorrunde,8,"Schröder, Karsten / Rothe, Christine",Askania - TSC Berlin
13,16.- 17.,Vorrunde,9,"Adrian, Claudius / Fischer-Adrian, Andrea",TSC Rot-Gold-Casino Nürnberg
14,16.- 17.,Vorrunde,19,"Paar, Thorsten / Steinebach, Sandra",TD Tanzsportclub Düsseldorf Rot-Weiß
15,18.,Vorrunde,10,"Exner, Benjamin / Exner, Valeska",TSA im TSV Neudorf 1913
16,19.,Vorrunde,4,"Pfitzner, Ralf / Pfitzner, Eva",1. TGC Redoute Koblenz + Neuwied
17,20.,Vorrunde,15,"Schrader, Markus / Utermark, Anja",Braunschweig Dance Company

## Processing of the finals

In [19]:
df_finals = df_dict[data_dfs.finals][0]
dance_name_rows = df_finals[df_finals[0].isna()]
dance_name_ids = dance_name_rows.index.to_list() + [len(df_finals.index)]

# Add a column to display the dance for which the rankings are for. 
# This will replace the horizonal headlines indicating the dances - which will be deleted afterwards.
df_finals[['Dance']] = ''
df_finals['Dance'].iloc[1] = 'Dance'
for i in range(len(dance_name_ids) - 1):
    start_index = dance_name_ids[i]
    dance_name = c.parse_dance_name(dance_name_rows.loc[start_index, 1])
    end_index = dance_name_ids[i+1] - 1
    df_finals.loc[start_index:end_index, 'Dance'] = dance_name

# Now delete the rows with the dance names. 
# Notice that we ignore the last entry since this is an artificial one to finish the for-loop above.
for i in dance_name_ids[:-1]:
    df_finals.drop(i, inplace=True)

# Replace the couple names by only their number.
df_finals[[c.C.NR.value]] = df_finals.iloc[:, 0].str.extract(r'(\d+)\D*', expand = True)
df_finals[c.C.NR.value].iloc[1] = c.C.NR.value
df_finals = df_finals.iloc[:, 1:]

# Replace the adjudicator names by only their reference letter.
for i, value in enumerate(df_finals.iloc[1, :]):
    if value == "1.": 
        break

    df_finals.iloc[1, i] = value[:1]

# Delete the first line which only denotes where the adjudicators and results columns are - same as the second row does.
df_finals = df_finals.iloc[1:]
# Set the now first row as header.
df_finals.columns = df_finals.iloc[0]
df_finals = df_finals[1:]

df_dict[data_dfs.finals] = df_finals
df_dict[data_dfs.finals].to_csv(Path(competition_dir, 'finals.csv'))
df_dict[data_dfs.finals]

1,A,B,C,D,E,F,G,1.,1.-2.,1.-3.,1.-4.,1.-5.,1.-6.,Platz,Summe,Dance,Nr.
3,5,6,5,4,3,4,5,0,0,1,3,6,-,40,40,LW,2
4,1,2,1,2,1,1,1,5,-,-,-,-,-,10,10,LW,6
5,4,4,4,3,2,2,2,0,3,4,-,-,-,30,30,LW,7
6,6,3,6,5,6,3,4,0,0,2,3,4(15),7(33),55,55,LW,12
7,3,5,3,6,4,6,6,0,0,2,3,4(15),7(33),55,55,LW,14
8,2,1,2,1,5,5,3,2,4,-,-,-,-,20,20,LW,16
10,6,6,6,3,3,3,6,0,0,3,3,3,7,60,100,TG,2
11,1,1,1,2,1,1,1,6,-,-,-,-,-,10,20,TG,6
12,4,5,4,5,2,4,2,0,2,2,5(16),-,-,30,60,TG,7
13,5,3,5,4,6,2,5,0,1,2,3,6,-,50,105,TG,12
14,2,4,3,6,4,6,4,0,1,2,5(17),-,-,40,95,TG,14
15,3,2,2,1,5,5,3,1,3,5,-,-,-,20,40,TG,16
17,4,6,3,3,3,4,3,0,0,4,-,-,-,30,130,WW,2
18,1,2,1,2,1,2,1,4,-,-,-,-,-,10,30,WW,6
19,5,4,5,4,2,3,2,0,2,3,5,-,-,40,100,WW,7
20,6,3,6,5,4,1,5,1,1,2,3,5,-,50,155,WW,12
21,3,5,4,6,5,6,6,0,0,1,2,4,-,60,155,WW,14
22,2,1,2,1,6,5,4,2,4,-,-,-,-,20,60,WW,16
24,4,6,3,4,3,3,3,0,0,4(12),-,-,-,30,160,SF,2
25,1,2,1,1,1,1,1,6,-,-,-,-,-,10,40,SF,6
26,5,4,4,3,2,4,2,0,2,3,6,-,-,40,140,SF,7
27,6,3,5,5,4,2,5,0,1,2,3,6,-,50,205,SF,12
28,2,5,6,6,5,6,6,0,1,1,1,3,7,60,215,SF,14
29,3,1,2,2,6,5,4,1,3,4(8),-,-,-,20,80,SF,16
31,4,6,5,4,3,3,5,0,0,2,4(14),-,-,50,210,QS,2
32,1,1,1,2,1,1,1,6,-,-,-,-,-,10,50,QS,6
33,6,5,4,3,2,4,2,0,2,3,5,-,-,30,170,QS,7
34,3,3,6,6,5,2,4,0,1,3,4(12),-,-,40,245,QS,12
35,2,4,3,5,6,6,6,0,1,2,3,4,-,60,275,QS,14
36,5,2,2,1,4,5,3,1,3,4,-,-,-,20,100,QS,16

## Processing of the qualifications table

In [63]:
df_qualifications = df_dict[data_dfs.qualifications][0]
n: int = len(df_dict[data_dfs.qualifications])
if n > 1:
    for i in range(1, n):
        # Drop the first column since it is already present from the first dataframe.
        df_tmp = df_dict[data_dfs.qualifications][i].iloc[:, 1:]
        # Append the dataframe to the rest.
        df_qualifications = pd.concat([df_qualifications, df_tmp], axis=1)

# Delete the first row since it does not really contain information
df_qualifications = df_qualifications[1:]
# Because of the concatenation the column indices could be messed up. Reset them to a range.
df_qualifications.columns = range(len(df_qualifications.columns))

# Delete all rows where all values are NaN.
df_qualifications.dropna(axis=1, how='all', inplace=True)

# Depending on the size of the tournament, the names of the competitors are perhaps repeated.
# In this case frop this row since it is redundant.
df_qualifications.drop(df_qualifications.loc[df_qualifications.iloc[:, 0] == 'Startnummer'].index, inplace=True)


# Replace the adjudicator names by only their reference letter.
# Replace the couple names by only their number.
couple_nrs = df_qualifications.iloc[0, :].str.extract(r'(\d+)\D*')
df_qualifications = pd.concat([couple_nrs.T, df_qualifications], axis=0, ignore_index=True)
df_qualifications.iloc[0, 0] = c.C.NR.value
df_qualifications.columns = df_qualifications.iloc[0]
df_qualifications.drop([0, 1], inplace=True)
    
df_qualifications

,Nr.,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,66
2,A) Petra Matschullat-Horn B) Christoph Losensk...,1 1 5 1 2 5 0,4 3 5 4 5 5 5,4 4 5 4 5 4 3,2 0 0 1 0 0 2,4 5 5 5 4 5 1,5 5 5 5 5 5 5,5 5 5 5 5 5 5,1 1 1 2 0 4 1,1 0 0 1 3 0 4,...,5 5 4 5 5 5 5,0 4 4 0 3 1 5,5 5 5 5 5 5 5,0 0 0 0 0 0 0,5 5 5 5 5 5 5,5 5 5 5 5 2 5,1 4 0 2 3 0 2,5 0 4 0 0 0 0,0 4 1 3 1 4 0,5 4 1 5 4 5 4
3,Ergebnis der Vorrunde,15,31,29,5,29,35,35,10,9,...,34,17,35,0,35,32,12,9,13,28
4,Qualifiziert für die 1. Zwischenrunde,X,X,X,NaN,X,X,X,NaN,NaN,...,X,X,X,NaN,X,X,NaN,NaN,NaN,X
5,A) Petra Matschullat-Horn B) Christoph Losensk...,0 0 0 0 0 0 0,3 1 4 4 5 5 5,0 3 0 0 1 0 0,NaN,0 0 2 2 0 1 3,5 5 5 5 5 5 5,5 5 5 4 5 5 5,NaN,NaN,...,3 5 4 5 3 5 1,0 0 0 0 1 0 3,5 2 5 0 4 4 3,NaN,5 5 5 5 3 5 5,4 4 0 5 2 0 0,NaN,NaN,NaN,0 0 0 0 1 0 0
6,Ergebnis der 1. Zwischenrunde,0,27,4,NaN,8,35,34,NaN,NaN,...,26,4,23,NaN,33,15,NaN,NaN,NaN,1
7,Qualifiziert für die Endrunde,NaN,X,NaN,NaN,NaN,X,X,NaN,NaN,...,X,NaN,X,NaN,X,NaN,NaN,NaN,NaN,NaN
8,Addition Endrunde,NaN,210,NaN,NaN,NaN,50,170,NaN,NaN,...,245,NaN,275,NaN,100,NaN,NaN,NaN,NaN,NaN
9,Platz von Platz bis,12,4,9 10,19,8,1,3,15,16 17,...,5,9 10,6,20,2,7,14,16 17,13,11
10,Aufstiegspunkte,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-